@page "/"

<PageTitle>Index</PageTitle>
<div class='mx-auto text-center'>
    <h1 class='mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white'>
        Hello, World!
    </h1>
    <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
        I have scrambled together some tools that I use (from different sites) into one place so
        I don't have to jump from one place to another. Hopefully you find find them useful aswell!
    </p>
</div>
