@page "/"

<PageTitle>Index</PageTitle>

<div class='py-1 my-1 text-center'>
  <h1 class='display-5 fw-bold'>Hello, world!</h1>
  <div class='col-lg-6 mx-auto'>
    <p class='lead mb-4'>
      Welcome to a collection of tools for (mostly) developers, if you find these tools useful outside of development
      that's great!
    </p>
  </div>
</div>

<div class='container'>
  <div class='row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3'>
    <Card HRef='Base64/Encode'>
      <Text>This is a test</Text>
    </Card>
    
    <Card>
      <Text>This is a test</Text>
    </Card>
    
    <Card>
      <Text>This is a test</Text>
    </Card>
    
  </div>
</div>