<div class='top-row ps-3 navbar navbar-dark'>
    <div class='container-fluid'>
        <a class='navbar-brand' href=''>DevTools</a>
        <button title='Navigation menu' class='navbar-toggler' @onclick='ToggleNavMenu'>
            <span class='navbar-toggler-icon'></span>
        </button>
    </div>
</div>

<div @onclick='ToggleNavMenu'>
    <nav class='flex-column'>
        <div class='nav-item px-3'>
            <NavLink class='nav-link' href='' Match='NavLinkMatch.All'>
                <span class='oi oi-home' aria-hidden='true'></span> Home
            </NavLink>
        </div>

        <CollapsableLinks>
            <TopLevelLink>
                <NavLink class='nav-link' href='#' @onclick='context'>
                    Encoding
                </NavLink>
            </TopLevelLink>
            <Content>
                <div class='nav-item px-3'>
                    <NavLink class='nav-link' href='Base64/Encode' >
                        Base64 Encode
                    </NavLink>
                </div>

                <div class='nav-item px-3'>
                    <NavLink class='nav-link' href='Base64/Decode'>
                        Base64 Decode
                    </NavLink>
                </div>

                <div class='nav-item px-3'>
                    <NavLink class='nav-link' href='Url/Encode'>
                        Url Encode
                    </NavLink>
                </div>

                <div class='nav-item px-3'>
                    <NavLink class='nav-link' href='Url/Decode'>
                        Url Decode
                    </NavLink>
                </div>
            </Content>
        </CollapsableLinks>

        <CollapsableLinks>
            <TopLevelLink>
                <NavLink class='nav-link' href='#' @onclick='context'>
                    Converters
                </NavLink>
            </TopLevelLink>
            <Content>
                <div class='nav-item px-3'>
                    <NavLink class='nav-link' href='/Convert/Number-Base'>
                        Number Base
                    </NavLink>
                </div>
            </Content>
        </CollapsableLinks>

        <CollapsableLinks>
            <TopLevelLink>
                <NavLink class='nav-link' href='#' @onclick='context'>
                    Generators
                </NavLink>
            </TopLevelLink>
            <Content>
                <div class='nav-item px-3'>
                    <NavLink class='nav-link' href='/Generator/Guid'>
                        Guid Generator
                    </NavLink>
                </div>
            </Content>
        </CollapsableLinks>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : "";
    private void ToggleNavMenu() => _collapseNavMenu = !_collapseNavMenu;
}
