@page "/"

<PageTitle>Index</PageTitle>
<div class='mx-auto text-center'>
    <h1 class='mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white'>
        Hello, World!
    </h1>

    <Paragraph>
        I have scrambled together some tools that I use (from different sites) into one place so
        I don't have to jump from one place to another. Hopefully you find find them useful aswell!
    </Paragraph>
    
    <p class='mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400'>
        I will try to call out any open source software that I use per page where possible, but this is a central
        list of software that I am using, I highly recommend you look at them and use them where possible!
    </p>

    <ListComponent>
        <ListItem>
            <a target='_blank' class='text-blue-200' href='https://github.com/bchavez/Bogus'>Bogus</a>
        </ListItem>
        <ListItem>
            <a target='_blank' class='text-blue-200' href='https://github.com/JoshClose/CsvHelper'>CsvHelper</a>
        </ListItem>
        <ListItem>
            <a target='_blank' class='text-blue-200' href='https://github.com/Blazored/LocalStorage'>LocalStorage</a>
        </ListItem>
        <ListItem>
            <a target='_blank' class='text-blue-200' href='https://flowbite.com'>Flow bite</a>
        </ListItem>
    </ListComponent>
    
    <p class='mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400'>
        This website is also open to contributions and can be found here -
        <a target='_blank' class='text-blue-200' href='https://github.com/joro550/some-dev-tools'>Some-dev-tools</a>
    </p>
    
    <p class='mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400'>
        If you really like this website, why not buy me a coffee 😁
        <a target='_blank' class='text-blue-200' href='https://www.buymeacoffee.com/joro550'>Buy me a coffee</a>
    </p>
</div>
<hr class='my-8 h-px bg-gray-200 border-0 dark:bg-gray-700'>