@page "/Generator/LoremIpsum"
@using Bogus.DataSets

@inject IClipboard Clipboard;

<h1 class='mb-6 text-4xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white'>
    Lorem Ipsum
</h1>

<p class='mb-8 font-normal text-gray-500 dark:text-white'>
    This page is being powered by an open source lirary: <a target='_blank' class='text-blue-200' href='https://github.com/bchavez/Bogus'>Bogus</a>
</p>

<div class='mt-2 mb-3'>
    <div class='relative z-0 mb-6 w-full group'>
        <input @bind='_amountToGenerate'  type='number' class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
        <label class='peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6'>Number to generate</label>
    </div>
    
    <div class='relative z-0 mb-6 w-full group'>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Choose to generate</label>
        <select @bind='_type' class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="1">Words</option>
          <option value="2">Sentences</option>
          <option value="3">Paragraphs</option>
        </select>
    </div>
    
    <div class='relative z-0 mb-6 w-full group'>
      <textarea readonly @bind='_output' type='text' style='height: 100px' class='block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer' placeholder=" " >
      </textarea>
      <label class='peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6'>Output</label>
  </div>
  <button @onclick='Generate' class='text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'>Generate</button>
    <button @onclick='async () => await Clipboard.CopyText(_output)' class='p-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'>
        Copy output to clipboard
    </button>
</div>


@code {
    private string _output = string.Empty;
    private int _type = 0;
    private int _amountToGenerate = 0;

    private void Generate()
    {
        var lorem = new Lorem();
        _output = _type switch {
            1 => string.Join(" ", lorem.Words(_amountToGenerate)),
            2 => lorem.Sentences(_amountToGenerate),
            3 => lorem.Paragraphs(_amountToGenerate),
            _ => lorem.Word()
        };
    }
}