@inherits LayoutComponentBase

<PageTitle>DevTools</PageTitle>

<div class='flex'>
    <NavMenu/>
    <main class='text-base h-screen w-full bg-white dark:bg-gray-700'>
        <div class='container'>
            <div class='py-8 px-4 max-w-screen-xl lg:py-16 lg:px-12'>
                @Body
            </div>
        </div>
    </main>
</div>