<aside class='w-64 min-h-screen bg-gray-50 dark:bg-gray-800'>
    <div class='py-4 px-3'>
        <a href='/' class='flex items-center pl-2.5 mb-5'>
            <span class='self-center text-xl font-bold whitespace-nowrap dark:text-white'>DevTools</span>
        </a>

        <ul class='space-y-2'>
            <li>
                <a href='#' class='flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700'>
                    <i class='fa-solid fa-house'></i>
                    <span class='ml-3'>Home</span>
                </a>
            </li>

            <NavBarDropDown LinkText='Encoding' IconClass='fa-solid fa-suitcase'>
                <NavBarDropDownItem LinkAddress='/Base64/Encode' LinkText='Base64 Encode' />
                <NavBarDropDownItem LinkAddress='/Base64/Decode' LinkText='Base64 Decode' />
                <NavBarDropDownItem LinkAddress='/Url/Encode' LinkText='Url Encode' />
                <NavBarDropDownItem LinkAddress='/Url/Decode' LinkText='Url Decode' />
            </NavBarDropDown>

            @* <li> *@
            @*    <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"> *@
            @*       <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg> *@
            @*       <span class="flex-1 ml-3 whitespace-nowrap">Kanban</span> *@
            @*       <span class="inline-flex justify-center items-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300">Pro</span> *@
            @*    </a>  *@
            @* </li> *@

            <NavBarDropDown LinkText='Generators' IconClass='fa-solid fa-wand-magic-sparkles'>
                <NavBarDropDownItem LinkAddress='/Generator/Guid' LinkText='Guid Generator' />
                <NavBarDropDownItem LinkAddress='/Generator/LoremIpsum' LinkText='Lorem Ipsum' />
                <NavBarDropDownItem LinkAddress='/Generator/Csv' LinkText='Csv' />
            </NavBarDropDown>

            <NavBarDropDown LinkText='Cryptography' IconClass='fa-solid fa-lock'>
                <NavBarDropDownItem LinkAddress='/Cryptography/Md5' LinkText='Md5' />
                <NavBarDropDownItem LinkAddress='/Cryptography/Sha1' LinkText='Sha1' />
                <NavBarDropDownItem LinkAddress='/Cryptography/Sha256' LinkText='Sha256' />
                <NavBarDropDownItem LinkAddress='/Cryptography/Sha512' LinkText='Sha512' />
            </NavBarDropDown>

            <NavBarDropDown LinkText='Buckets' IconClass='fa-solid fa-bucket'>
                <NavBarDropDownItem LinkAddress='/RequestBucket/Create' LinkText='Requests' />
            </NavBarDropDown>
        </ul>
    </div>
</aside>