<p class='mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400'>
    @ChildContent
</p>


@code{

    [Parameter]
    public RenderFragment ChildContent { get; set; }
        = builder => builder.Default();
}